.logo {
    width: 128px;
    display: block;
    background-image: url("../images/d’Perfume@2x.png");
    background-size: contain;
    overflow: hidden;
    text-indent: 101%;
    background-repeat: no-repeat;
    background-position: center;
}